<h3>Relacionar Categoria ao Prestador</h3>
<form action="/categorias" method="POST">
    <label>
        <input type="checkbox" name="categorias[]" value=1>
        Encanador
    </label><br>

    <label>
        <input type="checkbox" name="categorias[]" value=2>
        Eletricista
    </label><br>

    <label>
        <input type="checkbox" name="categorias[]" value=3>
        Pintor
    </label><br>

    <label>
        <input type="checkbox" name="categorias[]" value=4>
        Jardineiro
    </label><br>

    <label>
        <input type="checkbox" name="categorias[]" value=5>
        Pedreiro
    </label><br>

    <label>
        <input type="checkbox" name="categorias[]" value=6>
        Babá
    </label><br>

    <label>
        <input type="checkbox" name="categorias[]" value=7>
        Diarista
    </label><br>

    <label>
        <input type="checkbox" name="categorias[]" value=8>
        Marceneiro
    </label><br>

    <label>
        <input type="checkbox" name="categorias[]" value=9>
        Instalador de Ar Condicionado
    </label><br>

    <button type="submit">Enviar</button>
</form>>

