<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ContrataPro</title>
</head>
<body class="max-h-[100vh]"> 
    <div class="flex">
        <div class="bg-register w-2/6 text-white h-screen content-center justify-items-center hidden md:grid">
            <img src="/app/static/imgs/map-pin-line.svg" class="w-3/12 mt-10" alt="Ícone de Localização">
            <h1 class="text-xl font-semibold w-2/3 text-center mt-6">Adicionar endereço</h1>
        </div>

        <div class="content-center justify-items-center w-full md:w-4/6">
            <img src="/app/static/imgs/ContrataPro.svg" alt="ContrataPro" class="w-2/5 my-12 md:hidden">
            <form action="/enderecos" method="post" class="w-3/5 mx-auto">

                <input type="text" id="rua" name="rua" required placeholder="Rua" class="flex justify-center w-full m-2 p-2 border border-gray-300 rounded">
                <input type="text" id="numero" name="numero" required placeholder="Número" class="flex justify-center w-full m-2 p-2 border border-gray-300 rounded">
                <input type="text" id="bairro" name="bairro" required placeholder="Bairro" class="flex justify-center w-full m-2 p-2 border border-gray-300 rounded">
                <input type="text" id="cidade" name="cidade" required placeholder="Cidade" class="flex justify-center w-full m-2 p-2 border border-gray-300 rounded">
                <input type="text" id="estado" name="estado" required placeholder="Estado" class="flex justify-center w-full m-2 p-2 border border-gray-300 rounded">
                <input type="text" id="cep" name="cep" placeholder="CEP" class="flex justify-center w-full m-2 p-2 border border-gray-300 rounded">
                <input type="text" id="complemento" name="complemento" placeholder="Complemento" class="flex justify-center w-full m-2 p-2 border border-gray-300 rounded">

                <div class="w-full flex justify-center">
                    <button type="submit" class="bg-teal-600 text-white text-xl font-semibold p-2 m-4 w-1/3 rounded hover:bg-teal-700 transition duration-300">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

