{% extends "base.html" %}

{% block content %}
<h1 class="text-3xl font-bold m-8 md:my-12 md:mx-24">Usuários favoritos</h1>
    <div class="mx-8 md:mx-24 grid grid-cols-1 md:grid-cols-2 gap-8">
      {% for user in favoritos %}
      <a class="flex items-center p-6 hover:bg-gray-100 rounded-xl transition" href="/usuarios/{{user.prestador_id}}">
        <div class="w-32 h-32 flex-shrink-0">
            <img
            src="/app/static/fotos/{{ user.foto }}"
            class="w-32 h-32 rounded-lg"
            alt="Foto de perfil"
            />
        </div>
        <div class="ml-6">
          <p class="font-semibold text-xl">{{ user.nome_completo }}</p>
          <p>
            {% for categoria in user.categorias %} {{ categoria.categoria_nome
            }}{% if not loop.last %}, {% endif %} {% endfor %}
          </p>
          <div class="flex items-center mt-2">
            <img src="/app/static/imgs/star.svg" alt="estrela" class="mr-2" />
            {% if user.media_avaliacao == 0.0 %}
            <span>Sem avaliações</span>
            {% else %}
            <span>{{ user.media_avaliacao }}</span>
            {% endif %}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
{% endblock %}
