{% extends "base.html" %} {% block content %} {% if user.nome_completo is not
none %}
<div class="max-w-2xl mx-auto p-6">
  <div class="mb-8 flex flex-col md:flex-row justify-between">
    <div class=" flex flex-col md:flex-row">
      <img
        src="/app/static/fotos/{{ user.foto }}"
        alt="Foto do Usuário"
        class="w-32 h-32 object-cover rounded-xl shadow-md"
      />
      <div class="ml-8">
        <p class="font-bold text-3xl">{{ user.nome_completo }}</p>
        <div class="flex items-center mt-2"><img class="mr-2 " src="/app/static/imgs/star.svg" alt=""> <strong>{{user.media_avaliacao}}</strong> </div>
        <div class="flex">
          {% for categoria in user.categorias %}
          <p class="text-lg mt-2 mr-2">{{ categoria.categoria_nome }},</p>
          {% endfor %}
        </div>

      </div>
    </div>

    <div class="flex items-center">
      {% if user.id in favoritos_ids %}
      <form action="/desfavoritar/{{user.id}}" method="post">
        <input type="hidden" name="prestador_id" value="{{ user.id }}" />
        <button type="submit" class="px-4 py-2 rounded">
          <img
            src="/app/static/imgs/heart_filled.svg"
            alt="coração completo"
            class="w-8 h-8"
          />
        </button>
      </form>
      {% else %}
      <form action="/favoritar/{{user.id}}" method="post">
        <input type="hidden" name="prestador_id" value="{{ user.id }}" />
        <button type="submit" class="px-4 py-2 rounded">
          <img
            src="/app/static/imgs/heart.svg"
            alt="coração vazado"
            class="w-8 h-8"
          />
        </button>
      </form>
      {% endif %}
      <form action="/chat/{{ user.id }}" method="post">
        <button
          type="submit"
          class="p-2 hover:bg-gray-100 rounded-full transition-colors"
        >
          <img src="/app/static/imgs/chat.svg" alt="Conversa" />
        </button>
      </form>
    </div>
  </div>
  <div class="mb-8">
    <div class="space-y-2">
      <p class="text-gray-500">
        {{ user.endereco.rua }}, {{ user.endereco.numero }} {% if
        user.endereco.complemento %}, {{ user.endereco.complemento }} {% endif
        %}
      </p>
      <p class="text-gray-500">
        {{ user.endereco.bairro }}, {{ user.endereco.cidade }} - {{
        user.endereco.estado }}, {{ user.endereco.cep }}
      </p>
    </div>
  </div>
  <div class="mb-8">
    <h2 class="text-xl font-semibold mb-2">Descrição</h2>
    <p><span class="font-medium">Telefone:</span> {{ user.telefone }}</p>
    <p>{{ user.descricao }}</p>
  </div>

  <div class="mb-8">
    <h2 class="text-xl font-semibold mb-4">Currículo</h2>
    <a
      href="/app/static/curriculos/{{ user.curriculo }}"
      class="inline-block bg-teal-600 font-semibold text-white px-4 py-2 rounded hover:bg-blue-600 transition-colors"
      download
      >Baixar Currículo</a
    >
  </div>
</div>
{% else %}
<div class="text-center text-gray-600 text-xl">Usuário não existente</div>
{% endif %} {% endblock %}
