<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/register">Registrar</a></li>
            <li><a href="/usuarios/perfil">Perfil</a></li>
            <li><a href="/criar_endereco">Endereços</a></li>
            <li><a href="/entrar_categoria">Categorias</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
